{% extends "layouts/base.html" %}
{% block content%}
    <div id="passwordSettings" name="passwordSettings" style="padding-top:50px;">
    <div id="wrapper">

        <!--start: Container -->
        <div class="container">
        <div class="row" style="margin-top:50px;">
        <div class="span4 offset4 well">
            <legend>Please Enter Your New Password</legend>
            <!-- <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
            </div> -->
            <form action="/handlePasswordChange" accept-charset="UTF-8">
            <input type="password" id="password1" class="span4" name="password" placeholder="Password">
            <input type="hidden" id="linkRef" class="span4" name="linkRef" value="{{linkRef}}">
            <input type="password" id="password2" class="span4" name="passwordConfirm" placeholder="Password">
            <button id="submitPasswordButton" name="submitPasswordButton" type="submit" class="btn btn-info btn-block">Submit Password Change</button>
            </form> 
        </div>
    </div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="row" style="text-align:center">
                    <ul class="alert alert-error">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endwith %} 
    </div> 
{% endblock %}



{% block body_bottom%}
    <script data-main="/static/js/passwordDetails.js" src="/static/js/ext/require.js"></script>
{% endblock %}
   