body {
	padding-top: 80px; // fixed-nav is 80px
}
.resupply-hero {
	border-radius: 0;
	padding-top: 50px;
	background: #b99e81 url('../images/home-hero.jpg') 50% 0;

	.resupply-callout {
		color: @white;
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
	}
}

.footer {
	margin-top: 20px;
	padding: 20px 0;
	background: @grayLighter;
}
