{% extends "emails/baseEmailTemplate.html" %}
      {% block content%}
                                                                <center>Thank you for the refferal!</center>
                                                                 Hey, since you reffered someone we've reduced your next 3 months subscription by  <strong>{{ amount }}%</strong>! Thanks for getting the word out!
                                                                <br />
                                                            </br>
                                                                <br>
                                                                At any time if you want to change your account type or even cancel you can login to  <a href="http://www.getresupply.com/account" target="_blank">account</a>, to make any changes. 
                                                                If you have any questions please email us at support@resupply.com

                                                                <br>Thank you!</br>	
                                                            </br>
                                                           
{% endblock %}