{% extends "layouts/base.html" %}

{% block content%}
	<link href="static/css/m-styles.min.css" rel="stylesheet">
	<link href="static/css/m-forms.min.css" rel="stylesheet">
	<link href="static/css/m-buttons.css" rel="stylesheet">
	<script  src="/static/js/ext/jquery.js"></script>
	<script  src="/static/js/ext/underscore.js"></script>
	<script  src="/static/js/ext/backbone.js"></script>


	<link href="static/css/custom.css" rel="stylesheet">
	<script src="static/js/bootstrap.js"></script>


    <script>
        window.packageType = "{{packageType}}"
    </script>
    <script src="https://checkout.stripe.com/v2/checkout.js"></script>
    <script data-main="/static/js/home" src="/static/js/ext/require.js"></script>


<!-- CONTENT -->


<div id="infoContainer" class="container hero-unit " style="margin-top:100px;">


    <div id="packageHeader" class="offset2 span7 well" style="text-align:center">
     <div class="modal-body resupply-modal-body">
    <p>Tell us a little about yourself :) <br>So we can better customize your package.</p>
    <form class="form-horizontal" >
    <div class="control-group">
    <label class="control-label" for="inputEmail">Your Gender</label>
    <div class="controls">
   <label class="radio">




  <input type="radio" name="gender" id="optionsRadiosMale" value="male" checked>
  Male
</label>
<label class="radio">
  <input type="radio" name="gender" id="optionsRadiosFemale" value="male">
  Female
</label>    
    </div>
  </div>    

    <div class="control-group">
    <label class="control-label" for="inputEmail">Size of household</label>
    <div class="controls">
    <select id="numFamily" style="text-align:center;width:80    px;" name="numFamily">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <!--<option value="4">4+</option>-->
        </select>    
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="zipCode">Shipping Zip Code</label>
    <div class="controls">
      <input type="text" id="zipCode" name="zipCode" placeholder="Zip Code">
    </div>
  </div>
  <div class="alert alert-error" id="cantShipThere" style="display:none;">Sorry we currently do not ship to that area of the country! <br>Enter your email below and we will let you know when we do! 
</div>
<div class="alert alert-success" id="subscribeBox" style="display:none;">
   
<label class="control-label" for="emailAddressSubscribe">Get notified!</label>
      <input type="text" class="requiredSforSubscribe" id="emailAddressSubscribe" name="emailAddressSubscribe" placeholder="youremail@email.com">
      <a class="btn " name="subscribe" id="subscribe">Subscribe!</a>
      <div class="alert alert-success" id="subscribeSuccess" style="display:none;">Thanks! We'll be in touch!
</div>
<div class="alert alert-error" id="subscribeError" style="display:none;">Sorry somthing wen't wrong please try again.
</div>
</div>
  <a class="btn " name="ontoPricing" id="ontoPricing"> Show me the prices!</a>
</div>
  </div>

     </div>
</div>
</div>


{% endblock %}
