{% extends "layouts/base.html" %}
{% block title %}Resupply|Home Supplies Delivered |Pricing{% endblock title %}
{% block metadescription_content%}Resupply Pricing Page{% endblock metadescription_content%}

{% block head_bottom %}
    <script>
        mixpanel.track("Pricing Page");
        window.resupply = {
            zipcode: {{zipcode}},
            household: {{household}},
            currentPackage: '{{currentPackage}}'
        };
        window.pricingData = {{pricingData|tojson|safe}};</script>
    </script>
    <script data-main="/static/js/views/pricing/pricingView" src="/static/js/ext/require.js"></script>
    <script src="https://checkout.stripe.com/v2/checkout.js"></script>
{% endblock %}

{% block content%}
<div class="resupply-pricing-container">
    {% if not zipcode %}
        <div class="resupply-hero">
            <div class="container">
                <div class="span5 zip-container form-horizontal">
                    <h3>Tell us a little about yourself</h3>
                    <div class="control-group">
                        <label class="control-label" for="gender">Your Gender</label>
                        <div class="controls">
                            <label class="radio">
                                <input type="radio" class="gender" name="gender" value="male" checked> Male
                            </label>
                            <label class="radio">
                                <input type="radio" class="gender" name="gender" value="female"> Female
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="alert alert-error hide"></div>
                        <label class="control-label" for="zipCode">Shipping Zip Code</label>
                        <div class="controls">
                            <input class="span2" type="text" id="zipCode" name="zipCode" placeholder="Zip Code">
                        <div><a class="btn btn-warning" style="margin-top:15px;" id="nextStep" id="subscribe">Go!</a></div>
                        </div>


                    </div>

                <div class="alert alert-success" id="subscribeBox" style="display:none;">
                    Sorry we don't ship to that zip yet. Sign up and we'll notify you when we launch in your area!   
                    <input type="text" class="requiredSforSubscribe" id="emailAddressSubscribe" name="emailAddressSubscribe" placeholder="youremail@email.com">
                    <a class="btn " name="subscribe" id="subscribe">Subscribe!</a>
                    <div class="alert alert-success" id="subscribeSuccess" style="display:none;">Thanks! We'll be in touch!
                    </div>
                    <div class="alert alert-error" id="subscribeError" style="display:none;">Sorry somthing wen't wrong please try again.
                    </div>
                </div>
                </div>
            </div>
        </div>
    {%  endif %}

    <div class="container resupply-pricing-chart {% if not zipcode %}hide{% endif %}"></div>
</div>
{% endblock %}

