{% extends "layouts/base.html" %}
{% block title %}Resupply|Home Supplies Delivered |Pricing{% endblock title %}
{% block metadescription_content%}Resupply | Get Home Supplies Delivered With No Hassle - Pricing{% endblock metadescription_content%}
{% block metakeywords_content%}Resupply Pricing, Home Supplised Delivered Pricing{% endblock metakeywords_content%}

{% block head_bottom %}
    <script>
        mixpanel.track("Pricing Page");
        window.resupply = {
            zipcode: {{zipcode}},
            household: {{household}},
            currentPackage: '{{currentPackage}}'
        };
        window.pricingData = {{pricingData|tojson|safe}};</script>
    </script>
    <script data-main="/static/js/views/pricing/pricingView" src="/static/js/ext/require.js"></script>
    <script src="https://checkout.stripe.com/v2/checkout.js"></script>
{% endblock %}

{% block content%}
<div class="resupply-pricing-container">

    <div class="container resupply-pricing-chart"></div>
</div>
{% endblock %}

