{% extends "layouts/base.html" %}


{% block content%}

<script> window.packageType = "{{packageType}}" </script>

<div class="container">

	<div id="packageHeader" class="resupply-hero hero-unit offset2 span7">
		<div class="well  span6 "><div class="signup-info">Your upgrading to the {{ upgradePackageDisplay }} package for a household size of {{ familySize }} at ${{upgradePrice}} per month!</div>
		</div>
		<form action="/processUpgrade" method="POST">
		<div style="text-align:center;">
			<button type="submit" class="btn-large btn-warning">Confirm</button>
			<input type="hidden" name="packageType" value="{{ upgradePackage }}" >
		</div>
		</form>
	</div>

	<div id="signupSuccess" class="offset4 span6 well alert alert-success" style="text-align:center; display:none">
		Awesome you've upgraded up! Look for an email for details on your first delivery with your're new package!
	</div>

	<div id="signupFailure" class="offset4 span6 well alert alert-error" style="text-align:center; display:none">
		Hmm looks like somthign went wrong with your submission. Please try again or contact support at support at resupp.ly
	</div>

</div>

{% endblock %}