{% extends "bootstrap_base.html" %}
<!-- refer to https://github.com/mbr/flask-bootstrap/blob/master/flask_bootstrap/templates/ -->

{% block style_navbar_padding %}
    <link href="static/css/bootstrap.css" rel="stylesheet">
{% endblock %}

{% block meta %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
{% endblock %}


{% block body_content %}
	<div id="fb-root"></div>
	<div class="row header">
		<nav class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">

					<a class="btn btn-navbar m-btn blue" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>

					<h1 class="brand">
						<a href="/">Resupply</a>
					</h1>

					<div class="nav-collapse">
						<ul class="nav pull-right">
							<li><a href="/about" class="anchorLink">About</a></li>
							<li><a href="/pricing" class="anchorLink">Pricing</a></li>
							<li><a href="#contact" class="anchorLink">Contact</a></li>

							{% if user and user.is_authenticated()  %}
								<li><a href="/logout">Logout</a></li>
							{% else %}
								<li><a href="/signin">Login</a></li>
							{% endif %}
						</ul>
					</div>

				</div>
			</div>
		</nav>
	</div>

	{% block content %}{% endblock %}

	<div class="footer">
		<div class="container">
			&copy; The Resupply Corporation 2012
		</div>
	</div>

	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=385383204902234";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
{% endblock %}
