{% extends "layouts/base.html" %}

{% block content%}
<div class="row-fluid section" id="about">
    <div class="container">

        <div class="explain">
            <h2>about</h2>
            <p class="intro">Customized premium home product packs delivered to your home.<br>Bulk savings without buying in bulk.</br></p>
            <div class="row-fluid">
                <div class="span4">
                    <h3>Personal Concierge</h3>
                    <p>Resupply is like having your own personal shopper who restocks you before you run out. With Resupply you save up to 60% compared to your local grocery store.
                </div>

                <div class="span4">
                    <h3>Premium Brands</h3>
                    <p>Our packs include the nations top brands like Tide, Cascade, & Sensodyne. All delivered to you cheaper than anyone else.</p>
                </div>

                <div class="span4">
                    <h3>Reclaim your Life</h3>
                    <p>Those who get Resupplied save up to 48 hours in reclaimed shopping time. Time they spend on things that matter, like biking, hiking, cold fusion, etc.</p>
                    <p>Join us now! Save money, Simplify your life, Enjoy more.</p></p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}