{% extends "layouts/base.html" %}
 

{% block content%}
<div class="row-fluid section" id="about">
    <div class="container">
        <div class="row-fluid">
        <div class="span1"></div>
        <div class="span5"><h3>About Us</h3></div>
        <div class="span4"></div>
        </div>
        <div class="row-fluid">
        <div class="span1"></div>
        <div class="span10">
        Resupply is a simple idea formed out of a simple moment. Everyone has had that moment when they realize they need to brush their teeth but have no toothpaste or want to do some laundry but have no detergent. <br><p>Our team got together one day and thought: <strong>"Why can't we make this process smarter?"</strong>    </p><br>
        With all the data available in today's world, it is a bit silly that we have to individually guesstimate our usage of home products and remember when we bought our last tooth brush.<br><br>
        At Resupply, we believe that there are more important things to life than going to the store to buy things you need and run out of regularly. This is why we are striving to build a service that simplifies peoples lives, removes clutter, and delivers great products all while saving you money!<br><br>
        We dont believe that you should have to pay extra for convenience.<p><a href="/pricing">Sign up today!</a>


                <br>Questions? <a href="/contact">Contact us!</a>
<br><p></p><p>&nbsp;</p>
        </div>
        </div>
        <div class="row-fluid">
        <div class="span1"></div>
        <div class="span5"><h3>Our Team</h3></div>
        <div class="span4"></div>
        </div>
        <div class="row"></div>
        <div class="row-fluid">
        <div class="span1"></div>
        <div class="span7">
        FH Malik: Co-Founder, Imran Khawaja: Co Founder, Dominick Pham : Co-Founder
        </div>


        </div>
    </div>
</div>
{% endblock %}

{% block body_bottom%}
    <script>mixpanel.track("About Page");</script>
{% endblock %}