{% extends "layouts/base.html" %}
{% block head_bottom %}
    <script data-main="/static/js/contact" src="/static/js/ext/require.js"></script>
{% endblock %}
{% block content%}
<div class="container">

    <h2>Contact</h2>
    <div class="row">
        <div id="contactForm" class="span8">

            <div class="alert " id="submitted"  style="display:none;">We've received your question! We'll be in touch shortly!
            </div>

            <div class="alert alert-error" id="error"  style="display:none;">Sorry there was an error submitting your request! Please try again later or email support@resupp.ly. 
            </div>

            <form>
                <div class="controls controls-row">
                    <input id="name" name="name" type="text" class="span4" placeholder="Name">
                    <input id="email" name="email" type="email" class="span4" placeholder="Email address">
                </div>
                <div class="controls">
                    <textarea id="message" name="message" class="span8" placeholder="Your Message" rows="10"></textarea>
                </div>

                <div class="controls">
                    <button id="contact-submit" type="submit" class="btn btn-primary input-medium pull-right">Send</button>
                </div>
            </form>
        </div>
        <div class="span4">
            <ul class="contact-info">
                <li>Box 32121, Calvert Station</li>
                <li>Washington, DC 20007</li>
                <li>Phone: (202) 630-7865</li>
                <li>Email: support[at]resupp.ly</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}