{% extends "layouts/base.html" %}


{% block content%}
    <div class="static-info container">
        <h2>Frequently Asked Questions </h2>
        <p>Last updated on July 27, 2013.</p>

        <h4>1. What is Resupply?</h4>
        <p>Resupply is a service that restocks household goods every month. We ship you a monthly pack which includes Laundry Detergent, Dishwasher Soap, Toothbrush(es), Toothpaste, Floss and Trashbags. The idea behind this is to free up the time and money you spend at the store buying this stuff anyways and give it back to you. We give you the savings of buying these items in bulk without having to go and spend the whole afternoon wandering around a warehouse and standing in line behind crying children.</p>

        <h4>2. How much is shipping?</h4>
        <p>Shipping and taxes are included in the price. There are no hidden fees or gimmicks. What you see is what you pay. No matter what! Unless of course you refer your friends, in which case you save money!</p>



        <h4>3. When will you expand outside of the east coast?</h4>
        <p>We are slowly expanding outside the east coast to include the rest of the US. Please fill out the get started form and we will let you know once we get to your zipcode!</p>
        <h3>4. Will I be billed automatically everymonth?</h3>
        <p> You will be billed automatically every month. If you're not satified you can upgrade/downgrade or even cancel at any time by logging into your account.</p>
        <h4>5. How do I cancel?</h4>
        <p>Cancelling is super easy. Just login into your account and click the close account button.</P>
        <h3>6. What kind of brands do you sell?</h3>
        <p>Resupply Packs come in two tiers. One tier includes Resupply Brand premium products and some nationally branded items. The second tier includes the number one selling brands in each of our 6 product categories</p>


        <h3>7. Can I make suggestions on new products for you to add to the resupply packs?</h3>

        <p>We are always happy to hear from our members and prospective members. You can reach out via twitter @resupplycorp or email at ideas@resupp.ly.<p>
        <h3>8. Is there a discount for getting my friends to sign up?</h3>
        <p>Yes! If you log into your account you have a unique referral link, just send that over to your friends and you get 25% off your next month for every friend who signs up.
        </p>
    </div>
{% endblock %}

