<html>
  <head>
{% block head %}{% endblock %}
  </head>
  <body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=385383204902234";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
   
  <!-- NAV --> 
  
<div class="row header">
   
  <!-- NAV --> 
  
<nav class="navbar navbar-fixed-top" style="
    height: 79px;
">
            <div class="navbar-inner">
                <div class="container" style="
    height: 36px;
">

                    <a class="btn btn-navbar m-btn blue" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>


                    <h1 class="brand">
                        <a href="index.html">
                            <img src="static/img/bootmetrologo2.png" alt="">
                        </a>                            
                    </h1>
            
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                          <li class=""><a href="/about" class="anchorLink">About</a></li>
                          <li class=""><a href="/pricing" class="anchorLink">Pricing</a></li>
                          <li class=""><a href="#contact" class="anchorLink">Contact</a></li>
                          {% if user and user.is_authenticated()  %}
                          <li><a href="/logout">Logout</a></li>
                          {% else %}
                          <li><a href="/signin">Login</a></li>
                          {% endif %}

                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    {% block content %}{% endblock %}
  </div>  
    <!-- <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">
           <img src="static/img/bootmetrologo2.png" alt="">
           </a>
              {% if user and user.is_authenticated()  %}
              <ul class="nav" style="float:right">
              <li>
                <a href="/account">
                  Account: ({{user.emailAddress}})
                </a>
              </li>
              <li>
              <a href="/pricing">
                Upgrade
              </a>
            </li>
            <li>
              <a href="/logout" >
                Logout 
              </a>
            </li>
            {% else %}
            <ul class="nav">
            <li>
              <a href="/pricing">
              Get Started
              </a>
            </li>
            <li>
            <a href="#">
              FAQ
            </a>
            </li>
          </ul>
          <form action="process-login" method="POST" class="navbar-form pull-right">
            <input name="email" placeholder="Email" class="span2" type="email">
            <input name="password" placeholder="Password" class="span2" type="password">
            <button type="submit" class="btn">
              Sign in
            </button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div>
        &copy; The Resupply Corporation 2012
      </div -->
  </body>
</html>