{% extends "baseEmailTemplate.html" %}
{% block content%}
                                                               <center><h1>This email is confirming your cancelled account. </h1></center>
                                                                
                                                                We are sad to see you go. If you change your mind you can come back and we hope you do. 
                                                                <br />
                                                                <br>Thank you!</br>	
                                                            </br>
{% endblock %}