{% extends "base.html" %}
{% block head %}

    <meta charset="utf-8">
    <title>Resupp.ly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/css/m-styles.min.css" rel="stylesheet">
    <link href="static/css/m-forms.min.css" rel="stylesheet">
    <link href="static/css/m-buttons.css" rel="stylesheet">

    <link href="static/css/custom.css" rel="stylesheet">
   <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/css/resupply.css" rel="stylesheet">
  <script  src="/static/js/ext/jquery.js"></script>

    <script src="static/js/bootstrap.js"></script>


    <script>
        window.packageType = "{{packageType}}"
        window.finalPrice = "{{finalPricePerMonth}}"
        window.stripePlanIdentifier = "{{stripePlanIdentifier}}"
        window.stripePublishableKey ="{{stripePublishableKey}}"
    </script>


    <script src="https://checkout.stripe.com/v2/checkout.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <script data-main="/static/js/main" src="/static/js/ext/require.js"></script>
    <script  src="/static/js/ext/jquery.validate.jsrequire.js"></script>
    <!-- <link href="static/css/style.css" rel="stylesheet"> -->

      {% endblock %}  
      {% block content%}
<!-- HEADER CONTAINER -->


<!-- CONTENT -->


<div class="container hero-unit " style="margin-top:100px;">
<div class="span4 offset4">
    <ul class="breadcrumb">
        <li><a href="/pricing">Package Selection</a> <span class="divider">/</span></li>
        <li class="active"><a href="#">Account Details</a> <span class="divider">/</span></li>
        <li class="active"><a href="#">Billing Details</a> <span class="divider">/</span></li>

    </ul>
</div>

        <div id="confirmation" class="offset3 span6 well" style="text-align:center">
       Please confirm your selection
       </span>
    </div>
    <div id="packageHeader" class="offset3 span6 well" style="text-align:center">
       You are signing up for the {{ packageType }} package at ${{finalPricePerMonth}} per month!
       <br>
    </div>
    <div id="signupSuccess" class="offset4 span6 well alert alert-success" style="text-align:center; display:none">
       Awesome you've signed up! Look for an email for details on your first delivery!
    </div>
     <div id="signupFailure" class="offset4 span6 well alert alert-error" style="text-align:center; display:none">
       Hmm looks like somthign went wrong with your submission. Please try again or contact support at support@resupp.ly
    </div>
    <div id="billing_container">

<div id="billingDetails" class="offset3 span6 well">
    <legend>Please Conform your Account Details: </legend>
     <div class="alert alert-error" id="signupErrorMessage" style="display:none;">Please check the highlighted fields.
    </div>

    <div class="alert alert-error" id="passwordMismatchError" class="alert alert-error" style="display:none;">Passwords don't match!
    </div>
     <div class="alert alert-error" id="passwordLengthBad" class="alert alert-error" style="display:none;">Password must be at least 5 characters long!
    </div>
    <div class="alert alert-error" id="emailInUse" class="alert alert-error" style="display:none;">Sorry that email is already in use!
    </div>
    <form accept-charset="UTF-8" action="" data-validate="parsley" method="post" id="payment-form">
        <input class="requiredStuff span3" id="name" value="{{ name }}"  type="text">
        <input class="requiredStuff span3" id="email" name="email" value="{{ email }}" data-required="true"placeholder="Email"  data-type="email"  type="text">
        <input class="requiredStuff span3" id="password" name="password" value="{{ password}}" data-required="true" placeholder="Password" type="password">
        <input class="requiredStuff span3" id="passwordConfirm" value="{{ password}}" name="passwordConfirm" data-required="true" placeholder="Confirm Password" type="password">


        <!--  -->
        <legend>Shipping Details</legend>
        <input class="requiredStuff span3" id="shipping-address" value="{{ shippingAddress }}" name="shipping-address" placeholder="Address" data-required="true" type="text">
        <input class="span3" id="shipping-address2" name="shipping-address2"  value="{{ shippingAddress2 }}" placeholder="Address Continued" data-required="true" type="text">
        <input class="requiredStuff span3" id="shipping-city" name="shipping-city" value="{{ city }}" placeholder="City" data-required="true" type="text">
        <input class="requiredStuff span3" id="shipping-zipcode" disabled="disabled" name="shipping-zipcode" value="{{ zipcode }}" placeholder="Zip Code" data-required="true" type="text">

         <input id="packageType" name="packageType" type="hidden" value=<%= packageType %>


        <div style="text-align:center">
            <button id="finalSignupButton" class="btn btn-warning" type="submit">Checkout Securely!</button>
        </div>
    </form>
</div>


     </div>
</div>
</div>

<!-- MAP -->


{% endblock %}
