	<!--start: Wrapper-->
  	<div id="wrapper">

  		<!--start: Container -->
  		<div class="container">
  		<div class="row" style="margin-top:50px;">
		<div class="span4 offset4 well">
			<legend>Enter your email</legend>
			<form method="POST" action="forgotPasswordSubmit" accept-charset="UTF-8">
			<input type="text" id="email" class="span4" name="email" placeholder="Email">
			<button type="submit" name="submit" class="btn btn-info btn-block">Submit</button>
			{% if emailSent %}
			<div class="alert alert-success" >We've sent you an email with a password reset link.</div>
			{% else %}
			{% endif %}
			{% if userNotFound %}
			<div class="alert" >We could not find a user with that email address.</div>
			{% else %}
			{% endif %}
			</form> 
		</div>
	</div>

			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="row" style="text-align:center">
					<ul class="alert alert-error">
						{% for message in messages %}
						<li>{{ message }}</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				{% endwith %} 
	</div>
	<!-- end: Row -->

	<hr>

	<hr>

</div>
<!--end: Container-->

</div>
<!-- end: Wrapper  -->	
