<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <a class="btn btn-navbar m-btn blue" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>


            <h1 class="brand">
                <a href="index.html">
                    <img src="static/img/bootmetrologo.png" alt="">
                </a>
            </h1>

            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li><a href="/" class="anchorLink">Home</a></li>
                    <li><a href="#about" class="anchorLink">About</a></li>
                    <li><a href="#contact" class="anchorLink">Contact</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/signin"">Login</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>