{% extends "base.html" %}
{% block head %}

    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
	<link href="static/css/flat-ui.css" rel="stylesheet">
	<!-- Rotator Cuff -->
		<link href='http://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="static/css/demo-r.css" />
        <link rel="stylesheet" type="text/css" href="static/css/styler-r.css" />
		 <script src="static/js/ext/modernizr.custom.79849.js"></script>
		<style>
			.no-cssanimations .rw-wrapper .rw-sentence span:first-child{
				opacity: 1;
			}
		</style>
		<!--[if lt IE 9]> 
			<style>
				.rw-wrapper{ display: none; } 
				.rw-sentence-IE{ display: block;  }
			</style>
		<![endif]-->
	<!-- END Rotator Cuff -->
	<style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="static/css/resupply.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <style>
    </style>
                  <script data-main="/static/js/home" src="/static/js/ext/require.js"></script>

{% endblock %}  
{% block content%}
    <div class="container">
      <div class="resupply-hero hero-unit hero-unit ">
        <div class="row">
		<div class="span7 resupply-callout">
          <h2>
			You spend too much time buying home supplies.<br> Get it on time without a thought.
		  </h2>
          <p>
          We customize our packs for you, Pack them with the <strong>top brands</strong> in America, and deliver them to your door. So you get those 36 hours back and save money.</strong><br></br>
		  Get Resupplied. Never <strong>Run</strong> Out.</p>
        </div>
		<div class="span4">
		<img src="static/img/explain.png" alt="" align="right"><p></p></div></div>
		<div class="row">
		<div class="span3 offset4">
          <a href="#getStartedModal" class="btn btn-large btn-block btn-success" data-toggle="modal">Get Started In Seconds!</a>
        </div>

        <div id="getStartedModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <form accept-charset="UTF-8" action="/getStarted" method="post" id="getStarted">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Get Started!</h3>
  </div>
                <div class="alert alert-error" id="cantShipThere" class="alert alert-error" style="display:none;">Sorry we currently do not ship to that area of the country! We're working hard to expand out though!. 
              </div>
              <div class="alert alert-error" id="getStartedErrorMessage" class="alert alert-error" style="display:none;">You must supply info  for all the fields! 
              </div>
  <div class="modal-body resupply-modal-body">
    <p>Tell us a little about yourself :) So we can better customize your package.</p>
        <label for="numFamily">Size of your household:</label>
        <select id="numFamily" style="text-align:center;width:60px;" name="numFamily">
          <option value="1">1-2</option>
          <option value="2">3-5</option>
          <option value="3">6+</option>
        </select>

        <!-- <input class="span3 requiredStuff" id="numFamily" name="numFamily"  type="text"> -->
         <label>US ZipCode:</label>
         <input class="span3 requiredStuff" style="width:146px" id="zipCode" name="zipCode" data-required="true"type="text">
  </div>
  <div class="modal-footer">
    <button i class="btn" type="submit"data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="getStarted" class="btn btn-primary">Go!</button>
  </div>
      </form>

</div>
	  </div>
	  </div>			
				<div class="row">
				<section class="rw-wrapper">
				<h2 class="rw-sentence">
					<span>With all the extra time you could</span>	
					<div class="rw-words rw-words-1">
						<span>find the perfect wine pairing for popcorn</span>
						<span>learn to surf</span>
						<span>write a screenplay</span>
						<span>cook sous vide</span>
						<span>drive to Mexico</span>
						<span>sleep more</span>
					</div>
				</h2>
			</section>
			<h2 class="rw-sentence-IE">With all the extra time you could learn to ride a motorcycle</h2>
	<!-- Rotator Cuff --></div>


		<div class="well" align="center">
			<div class="span2"><h6>Our Brands</h6></div>
			<ul style="width: 100%; list-style-type: none;">
			<li style="display: inline; margin: 1.5%;"><img src="static/img/brand/tide-large.png"></li>
			<li style="display: inline; margin: 1.5%;"><img src="static/img/brand/senso-small.png"></li>
			<li style="display: inline; margin: 1.5%;"><img src="static/img/brand/glide.png"></li>
			<li style="display: inline; margin: 1.5%;"><img src="static/img/brand/cascade.png"></li>
			<li style="display: inline; margin: 1.5%;"><img src="static/img/brand/glad.png"></li>
			<li style="display: inline; margin: 1.5%;"><img src="static/img/bootmetrologo2.png"></li>
			<li style="display: inline; margin: 1.5%;"><img src="static/img/brand/oralb.png"></li>
			</ul>
		</div>
      <div class="row">
        <div class="span4">
          <div>
            <h2>
              Super Smart
            </h2>
            <p>
              At Resupply we bring a smart solution to lifes inconveniences.
			  We studied how much each person uses consumer products
			  like Toothpaste, Dishwasher Soap and Laundry Detergent as well as
			  what dentists recommend when it comes to toothbrushes and floss.
			  <br>Resupply uses this data to send what you need as you need it.
			  The best part: You don't even have to tell us when you run out!
			  
			  <!--At Resupply we realized that many Americans had no idea how much they 
			  were actually spending on home products. How many loads of laundry they 
			  were doing, how many dish washer cycles were being run. We decided to 
			  figure it out and build a company dedicated to giving you smart solutions 
			  to lifes inconveniences.-->
            </p>
          </div>
          <a class="btn" href="#">
            View details
          </a>
        </div>
        <div class="span4">
          <div>
            <h2>
              Exceedingly Simple
            </h2>
            <p>
              We make it simple to outsource the boring stuff about life like buying
			  detergent and remembering to change your toothbrush. We're about simplicity
			  and using data to improve your life. <br>To get customized you just answer
			  3 questions: Gender, Zipcode, and number of people you live with.
			  We take care of the rest and you get 36 hours of your life back yearly!
            </p>
          </div>
          <a class="btn" href="#">
            View details
          </a>
        </div>
        <div class="span4">
          <div>
            <h2>
              Top Notch Quality
            </h2>
            <p>
              Quality is our top priority. We sell the nations top brands and make our own 
			  brand of staples. Our members choose the awesome products delivered to their 
			  door without compromising on quality.<br>Even the nations top brands are at a price point
			  40% cheaper than your local grocery store and more than 15% cheaper than online
			  retailers.
            </p>
          </div>
          <a class="btn" href="#">
            View details
          </a>
        </div>
      </div>
      <hr>
      <div>
        &copy; The Resupply Corporation 2012
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="static/js/bootstrap.js"></script>
    </script>
    <script src="static/js/ext/jquery.js"></script>
<!--     // <script src="js/jquery-ui-1.10.0.custom.min.js"></script>
    // <script src="js/jquery.dropkick-1.0.0.js"></script>
    // <script src="js/custom_checkbox_and_radio.js"></script>
    // <script src="js/custom_radio.js"></script>
    // <script src="js/jquery.tagsinput.js"></script>
    // <script src="js/bootstrap-tooltip.js"></script>
    // <script src="js/jquery.placeholder.js"></script>
    // <script src="js/application.js"></script> -->
    
	<!--[if lt IE 8]>
      <script src="js/icon-font-ie7.js"></script>
      <script src="js/icon-font-ie7-24.js"></script>
    <![endif]-->
{% endblock %}