{% extends "base.html" %}
{% block head %}

    <meta charset="utf-8">
    <title>Resupp.ly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  <script src="static/js/ext/jquery.js"></script>

    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <!-- <link href="static/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <link href="static/css/custom.css" rel="stylesheet">
      <script src="static/js/bootstrap.js"></script>

    
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">



{% endblock %}  
{% block content%}
    <div id="getStartedModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-top:100px;">
     <form accept-charset="UTF-8" action="/getStarted" method="post" id="getStarted">

  <div class="modal-header">
    <h3 id="myModalLabel">Get Started!</h3>
  </div>
                <div class="alert alert-error" id="cantShipThere" class="alert alert-error" style="display:none;">Sorry we currently do not ship to that area of the country! We're working hard to expand out though!. 
              </div>
  <div class="modal-body" style="text-align:center;">
    <p>Tell us a little about yourself :) So we can better customize your package.</p>
        <label for="numFamily">Size of your household:</label>
        <select id="numFamily" style="text-align:center;width:60px;" name="numFamily">
          <option value="1">1-2</option>
          <option value="2">3-5</option>
          <option value="3">6+</option>
        </select>

        <!-- <input class="span3 requiredStuff" id="numFamily" name="numFamily"  type="text"> -->
         <label>US ZipCode:</label><input class="span3 requiredStuff" style="width:146px" id="zipCode" name="zipCode" data-required="true"type="text">
  </div>
  <div class="modal-footer">
    <button i class="btn" type="submit"data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="getStarted" class="btn btn-primary">Go!</button>
  </div>
      </form>

</div>


{% include 'pricing_include.html'%}



{% endblock %}