<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Signup Step 2</title> 
	<meta name="description" content="Smart Bootstrap Theme"/>
	<meta name="keywords" content="Template, Theme, web, html5, css3, Bootstrap" />
	<meta name="author" content="Łukasz Holeczek from creativeLabs"/>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: Facebook Open Graph -->
	<meta property="og:title" content=""/>
	<meta property="og:description" content=""/>
	<meta property="og:type" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>
	<!-- end: Facebook Open Graph -->

	<!-- start: CSS -->
	<link href="static/css/bootstrap.css" rel="stylesheet">
	<link href="static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="static/css/style.css" rel="stylesheet">
		<link href="static/css/pricing-global.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />

	
	<link rel="stylesheet" href="static/css/font-awesome.css">
		<!--[if IE 7]>
			<link rel="stylesheet" href="css/font-awesome-ie7.css">
			<![endif]-->
			<link rel="stylesheet" href="static/css/pt-sans.css">

			<link rel="stylesheet" href="static/css/pricing-global.min.css">
			<link rel="stylesheet" href="static/css/pricing-style.css">



			<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
			<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

			<!-- end: CSS -->

			<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <style>
      #feedback { font-size: 1.4em; }
      #selectable .ui-selecting { background: #FECA40; }
      #selectable .ui-selected { background: #F39814; color: white; }
      #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
      #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
      </style>
      <script>
      $(function() {
      	window.runningCost = 0 ;
      	window.runningCostSection1 = 0;
      	$( ".selectableSection" ).selectable({
      		stop: function() {
      			var result = $( "#select-result" ).empty();
      			$( ".ui-selected", this ).each(function() {
      				runningCostSection1 = 0;
      				$("#runningTotal").html("");
      				var index = $( "#selectable li" ).index( this );
      				runningCostSection1 = this.getAttribute('data-cost')*1;
      				runningCost = runningCostSection1 + runningCostSection2 + runningCostSection3;
      				result.append( " #" + ( index + 1 ) );
      				$("#runningTotal").text("Running total:").append(runningCost);

      			});
      		}
      	});
      	window.runningCostSection2 = 0;
      	$( ".selectableSection2" ).selectable({
      		stop: function() {
      			var result = $( "#select-result" ).empty();
      			$( ".ui-selected", this ).each(function() {
      				runningCostSection2 = 0;
      				$("#runningTotal").html("");
      				var index = $( "#selectable li" ).index( this );
      				runningCostSection2 = this.getAttribute('data-cost')*1;
      				runningCost = runningCostSection1 + runningCostSection2 + runningCostSection3;
      				result.append( " #" + ( index + 1 ) );
      				$("#runningTotal").text("Running total:").append(runningCost);

      			});
      		}
      	});

      	window.runningCostSection3 = 0;
      	$( ".selectableSection3" ).selectable({
      		stop: function() {
      			var result = $( "#select-result" ).empty();
      			$( ".ui-selected", this ).each(function() {
      				runningCostSection3 = 0;
      				$("#runningTotal").html("");
      				var index = $( "#selectable li" ).index( this );
      				runningCostSection3 = this.getAttribute('data-cost')*1;
      				runningCost = runningCostSection1 + runningCostSection2 + runningCostSection3;
      				result.append( " #" + ( index + 1 ) );
      				$("#runningTotal").text("Running total:").append(runningCost);

      			});
      		}
      	});
      });
</script>
</head>
<body>
	
	<!--start: Header -->
	<header>
		
		<!--start: Container -->
		<div class="container">
			
			<!--start: Row -->
			<div class="row">

				<!--start: Logo -->
				<div class="logo span3">

					<i class="ico-charts circle"></i><a class="brand" href="#">Sma<span>rt</span>.</a>

				</div>
				<!--end: Logo -->

				<!--start: Navigation -->
				<div class="span9">
					
					<div class="navbar navbar-inverse">
						<div class="navbar-inner">
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</a>
							<div class="nav-collapse collapse">
								<ul class="nav">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="index.html">Home standard</a></li>
											<li><a href="index2.html">Home alternative</a></li>
											<li><a href="index3.html">Home alternative 2</a></li>
											<li><a href="index4.html">Home alternative 3</a></li>
										</ul>
									</li>
									<li><a href="about.html">About</a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Features<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="social-icons.html">Social Icons</a></li>
											<li><a href="icons.html">Icons</a></li>
											<li><a href="sliders.html">Sliders</a></li>
											<li><a href="typography.html">Typography</a></li>
											<li><a href="shortcodes.html">Shortcodes</a></li>
											<li><a href="list-styles.html">List Styles</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="portfolio3.html">3 Columns</a></li>
											<li><a href="portfolio4.html">4 Columns</a></li>
										</ul>
									</li>									
									<li><a href="services.html">Services</a></li>
									<li class="active"><a href="pricing">Pricing</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>	
				<!--end: Navigation -->

			</div>
			<!--end: Row -->
			
		</div>
		<!--end: Container-->			

	</header>
	<!--end: Header-->
	
	<!-- start: Page Title -->
	<div id="page-title">

		<div id="page-title-inner">

			<!-- start: Container -->
			<div class="container">

				<h2><i class="ico-usd ico-white"></i>Price</h2>

			</div>
			<!-- end: Container  -->

		</div>	

	</div>
	<!-- end: Page Title -->
	
	<!--start: Wrapper-->
	<div id="wrapper">
					<div class="line"></div>
					<div class="row offset3 pricing-black-custom">
						<div class="span3 pricing-table-custom" >
							<ul>
								<li class="pricing-header-row-1">
									<div class="package-title">
										<h2 class="no-bold">Basic</h2>
									</div>
								</li>
								<li class="pricing-header-row-2">
									<div class="package-price-custom">
										<h1 class="no-bold">$4<span class="cents">.99 /mo</span></h1>
									</div>
								</li>
								<li class="pricing-content-row-odd acc" data-toggle="collapse" data-target="#acc-1">
									1 GB Diskspace
									<span style="float: right"><i class="icon-plus"></i></span>
								</li>
								<li id="acc-1" class="accordion-body collapse">
									<span class="acc-inner">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit
									</span>
								</li>
								<li class="pricing-content-row-even">
									10 GB Bandwidth
								</li>
								<li class="pricing-content-row-odd">
									1 Domain
								</li>
								<li class="pricing-content-row-even">
									3 Subdomain
								</li>
								<li class="pricing-content-row-odd">
									5 Email
								</li>
								<li class="pricing-content-row-even">
									$30 Setup Fee
								</li>
								<li class="pricing-footer">
								<form action="signup-select-package" method="POST">
									<input type="submit" id="pricingAdvanced" class="btn " value="Get Basic"></input>
									<input type="hidden" name="packageType" value="Basic">
								</form>


								</li>
							</ul>
						</div>
						<div class="span3 pricing-table-custom animate change-bg">
							<ul>
								<li class="pricing-header-row-1">
									<div class="package-title">
										<h2 class="no-bold">Standard</h2>
									</div>
								</li>
								<li class="pricing-header-row-2">
									<div class="package-price-custom">
										<h1 class="no-bold">$19<span class="cents">.99 /mo</span></h1>
									</div>
								</li>
								<li class="pricing-content-row-odd acc" data-toggle="collapse" data-target="#acc-2">
									10 GB Diskspace
									<span style="float: right"><i class="icon-plus"></i></span>
								</li>
								<li id="acc-2" class="accordion-body collapse">
									<span class="acc-inner">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit
									</span>
								</li>
								<li class="pricing-content-row-even">
									100 GB Bandwidth
								</li>
								<li class="pricing-content-row-odd">
									5 Domain
								</li>
								<li class="pricing-content-row-even">
									25 Subdomain
								</li>
								<li class="pricing-content-row-odd">
									100 Email
								</li>
								<li class="pricing-content-row-even">
									FREE Setup
								</li>
								<li class="pricing-footer">
								<form action="signup-select-package" method="POST">
									<input type="submit" id="pricingAdvanced" class="btn " value="Get Premium"></input>
									<input type="hidden" name="packageType" value="Advanced">
								</form>
								</li>
							</ul>
						</div>
					</div>
	<!-- start: Container -->
	<div class="container">


	</div>

	

</div>
<!-- end: Container -->

</div>
<!-- end: Wrapper  -->			

<!-- start: Footer Menu -->
<div id="footer-menu" class="hidden-tablet hidden-phone">

	<!-- start: Container -->
	<div class="container">

		<!-- start: Row -->
		<div class="row">

			<!-- start: Footer Menu Logo -->
			<div class="span2">
				<div id="footer-menu-logo">
					<div id="logo-chart"></div><a class="brand" href="#">Sma<span>rt</span>.</a>
				</div>
			</div>
			<!-- end: Footer Menu Logo -->

			<!-- start: Footer Menu Links-->
			<div class="span9">

				<div id="footer-menu-links">

					<ul id="footer-nav">

						<li><a href="index.html">Start</a></li>

						<li><a href="about.html">About</a></li>

						<li><a href="services.html">Services</a></li>

						<li><a href="pricing">Pricing</a></li>

						<li><a href="contact.html">Contact</a></li>

					</ul>

				</div>

			</div>
			<!-- end: Footer Menu Links-->

			<!-- start: Footer Menu Back To Top -->
			<div class="span1">

				<div id="footer-menu-back-to-top">
					<a href="#"></a>
				</div>
				
			</div>
			<!-- end: Footer Menu Back To Top -->
			
		</div>
		<!-- end: Row -->

	</div>
	<!-- end: Container  -->	

</div>	
<!-- end: Footer Menu -->

<!-- start: Footer -->
<div id="footer">

	<!-- start: Container -->
	<div class="container">

		<!-- start: Row -->
		<div class="row">

			<!-- start: About -->
			<div class="span3">

				<h3>About Us</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				</p>

			</div>
			<!-- end: About -->

			<!-- start: Photo Stream -->
			<div class="span3">

				<h3>Photo Stream</h3>
				<div class="flickr-widget">
					<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&display=latest&size=s&layout=x&source=user&user=29609591@N08"></script>
					<div class="clear"></div>
				</div>

			</div>
			<!-- end: Photo Stream -->

			<div class="span6">
				
				<!-- start: Follow Us -->
				<h3>Follow Us!</h3>
				<ul class="social-grid">
					<li>
						<div class="social-item">				
							<div class="social-info-wrap">
								<div class="social-info">
									<div class="social-info-front social-twitter">
										<a href="http://twitter.com"></a>
									</div>
									<div class="social-info-back social-twitter-hover">
										<a href="http://twitter.com"></a>
									</div>	
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="social-item">				
							<div class="social-info-wrap">
								<div class="social-info">
									<div class="social-info-front social-facebook">
										<a href="http://facebook.com"></a>
									</div>
									<div class="social-info-back social-facebook-hover">
										<a href="http://facebook.com"></a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="social-item">				
							<div class="social-info-wrap">
								<div class="social-info">
									<div class="social-info-front social-dribbble">
										<a href="http://dribbble.com"></a>
									</div>
									<div class="social-info-back social-dribbble-hover">
										<a href="http://dribbble.com"></a>
									</div>	
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="social-item">				
							<div class="social-info-wrap">
								<div class="social-info">
									<div class="social-info-front social-flickr">
										<a href="http://flickr.com"></a>
									</div>
									<div class="social-info-back social-flickr-hover">
										<a href="http://flickr.com"></a>
									</div>	
								</div>
							</div>
						</div>
					</li>
				</ul>
				<!-- end: Follow Us -->
				
				<!-- start: Newsletter -->
				<form id="newsletter">
					<h3>Newsletter</h3>
					<p>Please leave us your email</p>
					<label for="newsletter_input">@:</label>
					<input type="text" id="newsletter_input"/>
					<input type="submit" id="newsletter_submit" value="submit">
				</form>
				<!-- end: Newsletter -->
				
			</div>

		</div>
		<!-- end: Row -->	

	</div>
	<!-- end: Container  -->

</div>
<!-- end: Footer -->

<!-- start: Copyright -->
<div id="copyright">
	
	<!-- start: Container -->
	<div class="container">
		
		<div class="sixteen columns">
			<p>
				&copy; 2012, creativeLabs. Designed by creativeLabs in Poland <img src="static/img/poland2.png" alt="Poland" style="margin-top:-4px">
			</p>
		</div>

	</div>
	<!-- end: Container  -->

</div>	
<!-- end: Copyright -->

<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="static/js/jquery-1.8.2.js"></script> -->
<script src="static/js/bootstrap.js"></script>
<script src="static/js/isotope.js"></script>
<script src="static/js/jquery.imagesloaded.js"></script>
<script src="static/js/flexslider.js"></script>
<script src="static/js/carousel.js"></script>
<script src="static/js/jquery.cslider.js"></script>
<script src="static/js/slider.js"></script>
<script src="static/js/fancybox.js"></script>
<script defer="defer" src="static/js/custom.js"></script>
<!-- end: Java Script -->

</body>
</html>